body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url(./clock\ 2\ bg.jpg);
}

#parent {
  display: flex;
  justify-content: center;
  height: 85vh;
  align-items: center;
  align-items: center;
  margin: 1rem;
}

h1 {
  font-size: 100px;
  font-family: "poppins";
  margin-bottom: 2px;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 40px;
  font-family: "poppins";
  text-align: center;
  margin-top: 2px;
  color: yellow;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 479px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 15px;
  }
}
