body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#parent {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-image: url(./clock\ 2\ bg.jpg);
  background-repeat: none;
  background-position: center;
  background-attachment: fixed;
}
#child {
  /* background-color: rgba(255, 255, 255, 0.3);*/
  padding: 2rem;
  border-radius: 0.3rem;
}

h1 {
  font-size: 100px;
  font-family: "poppins";
  margin-bottom: 2px;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 40px;
  font-family: "poppins";
  text-align: center;
  margin-top: 2px;
  color: yellow;
}
